@import "./base/colors.scss";
@import "./base/fonts.scss";
@import "./components/navbar.scss";
@import "./components/depositar.scss";
@import "./components/footer.scss";
@import "./components/banner.scss";
@import "./components/querys.scss";
@import "./components/redes.scss";
@import "./components/nosotros.scss";
@import "./components/mudanzas.scss";


body {
    background-color: whitesmoke !important;
}

h1 {
    font-family: "BentonBlack", sans-serif;
    font-size: 45px;
    color: $negro;
    text-align: center;
    margin-top: 150px !important;
}

h2 {
/*     border-top: $verde solid 3px;
    border-bottom: $rojo solid 3px; */
/*     padding: 40px; */
    text-align: center;
    font-family: "BentonBlack", sans-serif;
    font-size: 30px;
    margin-top: 150px !important;
}

h3 {
    text-align: center;
    font-family: "BentonBlack", sans-serif;
    font-size: 30px !important;
    background-color: whitesmoke;
}

h4 {
    text-align: center;
    font-family: "BentonBlack", sans-serif;
    font-size: 30px !important;
    background-color: whitesmoke;
}

p {
    text-align: justify;
    font-family: "BentonBook", sans-serif;
    margin: 0 350px;
}

.p-principal{
        text-align: justify;
        font-family: "BentonMedium", sans-serif;
        margin: 20px 70px 20px 70px;
        text-align: center;
}

.truck{
    width: 30%;
}

/* .p-sombra{
    text-align: justify;
    font-family: "BentonBook", sans-serif;
    margin: 0 300px;
    filter: drop-shadow(0 0 0.8rem black);
    font-weight: bold;
} */

.p-footer{
    margin: 0 0 !important;
}

ul {
    font-family: "BentonBook", sans-serif;
} 
