.banner-1{
    background-image: url(../img/lager.jpeg);
    padding: 150px !important;
    display: flex;
    justify-content: center !important;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    background-size: cover;
}

.banner-2{
    background-image: url(../img/warehouse.jpg);
    padding: 150px !important;
    display: flex;
    justify-content: center !important;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    background-size: cover;
}

.banner-3{
    background-image: url("../img/despacho.jpeg");
    padding: 150px !important;
    display: flex;
    justify-content: center !important;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    background-size: cover;
}

.banner-4{
    background-image: url("../img/production.jpg");
    padding: 150px !important;
    display: flex;
    justify-content: center !important;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    background-size: cover;
}

.nosotros-banner{
    background-image: url("../img/containers.jpeg");
    padding: 300px;
    background-size: cover;
}

@media only screen and (max-width: 754px){
    .banner-1{
        background-size: 200%;
        padding: 50px !important;
    }

    .banner-2{
        background-size: 200%;
        padding: 50px !important;
    }

    .banner-3{
        background-size: 200%;
        padding: 50px !important;
    }

    .banner-4{
        background-size: 200%;
        padding: 50px !important;
    }

    .nosotros-banner{
        background-image: url("../img/containers.jpeg");
        padding: 0px !important;
        background-size: cover;
    }
}