.color-small {
    font-size: 12px;
    color: grey;
    text-align: center !important;
}

/* .depositar{
    background-image: url(https://img.freepik.com/fotos-kostenlos/reihen-von-regalen-mit-kaesten-im-modernen-lager_73899-216.jpg?w=2000);
    background-size: cover;
} */

/* .difuminado{
    background: linear-gradient(300deg, #d4d4d4 0%, #e9e8e8 25%, #f5f5f5 50%, #e9e8e8 75%, #b6b6b6 100%);
} */

.lista-centrada{
    text-align: left !important;
    list-style: circle;
}

.lista-deposito3 {
    list-style: none;
}

.fa-down-long{
    color: $rojo !important;
}

.card-body{
    background-color: $blanco !important;
    border: none !important;
}

.card{
    border: none !important;
}