header {
    border-bottom: solid 5px #e23d39;
    border-top: solid 5px #148c74;
}

.dropdown-alinear {
    justify-content: end !important;
}

.fondo-menu {
    background-color: whitesmoke !important;
}

.dropdown-color {
    color: #000 !important;
}

.dropdown-color:hover {
    color: #e23d39 !important;
}