/* PÁGINA PRINCIPAL */
@media only screen and (max-width: 754px){
    p{
        margin: 0 15px !important;
    }

    .frase-final{
        padding: 50px 50px 10px 50px !important;
    }
    
    .frase-final-2{
        padding: 0 50px 10px 50px !important;
    }
}