.redes {
    position: sticky !important;
    bottom: 3% !important;
}

.colorIg {
    color: black !important;
    text-shadow:
    0 0 7px black,
    0 0 10px black,
    0 0 21px black,
    0 0 42px $verde,
    0 0 82px $verde,
    0 0 92px $verde,
    0 0 102px $verde,
    0 0 151px $verde;

    a {
        text-decoration: none !important;
        color: $verde;
    
        &:hover {
            color: $verde !important;
        }
    }
}

/* MOBILE STYLES */
/* @media only screen and (max-width: 768px) {
    .redes {
        position: sticky !important;
        bottom: 95% !important;
        justify-content: center;
    }
}*/