.logosticky {
    position: -webkit-sticky;
    position: sticky;
    top: 850px;
    left: 20px;
    float: left;
    z-index: 10 !important;
}

@media only screen and (max-width: 360px) {
    .logosticky {
        position: -webkit-sticky;
        position: sticky;
        top: 650px;
        left: 5px;
        float: left;
    }
}

@media only screen and (min-width: 361px) and (max-width: 375px) {
    .logosticky {
        position: -webkit-sticky;
        position: sticky;
        top: 550px;
        left: 5px;
        float: left;
    }
}

@media only screen and (min-width: 376px) and (max-width: 393px) {
    .logosticky {
        position: -webkit-sticky;
        position: sticky;
        top: 750px;
        left: 5px;
        float: left;
    }
}

@media only screen and (min-width: 394px) and (max-width: 414px) {
    .logosticky {
        position: -webkit-sticky;
        position: sticky;
        top: 800px;
        left: 5px;
        float: left;
    }
}

@media only screen and (min-width: 415px) and (max-width: 540px) {
    .logosticky {
        position: -webkit-sticky;
        position: sticky;
        top: 620px;
        left: 5px;
        float: left;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .logosticky {
        position: -webkit-sticky;
        position: sticky;
        top: 700px;
        left: 5px;
        float: left;
    }
}

