@font-face {
    font-family: 'SuperFlyOne';
    src: url(../fonts/SuperFlyOne.ttf) format('woff');
}

/* BentonSans Medium */
/* TITULOS */
@font-face {
    font-family: "BentonMedium";
    src: url(../fonts/BentonSans-Medium.ttf) format("woff");
}

/* BentonSans Book */
/* SUBTITULOS */
@font-face {
    font-family: "BentonBook";
    src: url(../fonts/BentonSans-Book.ttf) format("woff");
}

/* BentonSans Black */
/* BOTONES */
@font-face {
    font-family: "BentonBlack";
    src: url(../fonts/BentonSans-Black.ttf) format("woff");
}